.red-planet-info {
  // background: #000;
  // background: linear-gradient(to bottom, rgba(18, 0, 39, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 1) 100%);
  color: #fff;
  // height: 600px;
  z-index: 400;
  position: relative;
  // top: -15px;
  text-align: center;
  padding: 8rem 0 0;
}

.title-info {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  top: -100px;
  opacity: 0;
}

.button-primary {
  background: #ed7a33;
  text-decoration: none;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
}

.size__container {
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.size-planet-title {
  margin-top: 3rem;
}

$earth: linear-gradient(to right, #00c9ff, #92fe9d);
$mars: linear-gradient(to right, #fe8c00, #f83600);
$moon: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
$venus: linear-gradient(to right, #f2994a, #f2c94c);
$jupiter: linear-gradient(to right, #eacda3, #d6ae7b);
$saturn: linear-gradient(to right, #cac531, #f3f9a7);
$uranus: linear-gradient(to right, #56ccf2, #2f80ed);
$size: 300;

h3 {
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

h3+p {
  font-size: 1.6rem;
}

.planet-size {
  span {
    display: inline-block;
    width: 100%;
    height: 2px;
    background: inherit;
    position: relative;

    &::before {
      content: '';
      width: 2px;
      height: 20px;
      background: inherit;
      display: inline-block;
      position: absolute;
      right: 0;
      top: -10px;
    }

    &::after {
      content: '';
      width: 2px;
      height: 20px;
      background: inherit;
      display: inline-block;
      position: absolute;
      left: 0;
      top: -10px;
    }
  }

  p {
    font-size: 1.4rem;
  }
}

// =======
// Size
// =======

.planet-size.planet-size-earth span {
  background: $earth;
}

.planet-size.planet-size-mars span {
  background: $mars;
}

.planet-size.planet-size-venus span {
  background: $venus;
}

.planet-size.planet-size-jupiter span {
  background: $jupiter;
}

.planet-size.planet-size-saturn span {
  background: $saturn;
}

.planet-size.planet-size-uranus span {
  background: $uranus;
}

.planet-size.planet-size-mercury span,
.planet-size.planet-size-moon span {
  background: $moon;
}

.earth-size,
.mercury-size,
.venus-size,
.mars-size,
.jupiter-size,
.saturn-size,
.moon-size {
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  // color: #dadada;
  color: #222;

  img {
    width: 100%;
    height: 100%;
  }

  p {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 30;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.earth-size {
  width: $size + px;
  height: $size + px;
  background: $earth;
}

.mars-size {
  width: ($size / 2)+ px;
  height: ($size / 2)+ px;
  background: $mars;
}

.mercury-size {
  width: ($size * .38)+ px;
  height: ($size * .38)+ px;
  background: $mars;
}

.venus-size {
  width: ($size * .9)+ px;
  height: ($size * .9)+ px;
  background: $mars;
}

.moon-size {
  width: ($size / 4)+ px;
  height: ($size / 4)+ px;
  background: $moon;
}

$bigsize: 700;

.jupiter-size,
.saturn-size {
  width: ($bigsize)+ px;
  height: ($bigsize)+ px;
  background: $jupiter;
}

.saturn-size,
.uranus-size {
  background: transparent;
}

.planet-size-earth-jupiter .earth-size,
.planet-size-earth-saturn .earth-size {
  width: ($bigsize / 11)+ px;
  height: ($bigsize / 11)+ px;
}

.planet-size-moon-jupiter .moon-size,
.planet-size-moon-saturn .moon-size {
  width: (($bigsize / 11) * .25)+ px;
  height: (($bigsize / 11) * .25)+ px;
  position: relative;
  font-size: 6px;
}



.miles {
  margin-top: 1rem;
}

.miles,
.kms {
  font-size: 1rem !important;
  color: #dadada;
}

// =======
// Days
// =======

// Year container
.year {
  padding: 18rem 0;
  background: linear-gradient(to bottom, #04011c 0%, #0a0d2d 100%);
}

.year__container {
  display: flex;
  justify-content: space-between;

  div {
    width: 100%;
  }

  .days-container {
    width: 300px;
    margin: 50px auto;
    text-align: left;

    span {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: 2px;
      border-radius: 50%;
    }

  }

  .days-container.earth-days span {
    background: $earth;
  }

  .days-container.mars-days span {
    background: $mars;
  }

  .days-container.venus-days span {
    background: $venus;
  }

  .days-container.mercury-days span {
    background: $moon;
  }

  .days-container.saturn-days span {
    background: $saturn;
  }

  .days-container.uranus-days span {
    background: $uranus;
  }
}

// =======
// Distance
// =======
.distance {
  // padding: 14rem 0;
  background: linear-gradient(to bottom, #0a0d2d 0%, #000000 100%);
}

.distance__container {
  padding: 8rem 0;
}

.distance__container.mars__distance {
  .mars-distance-container {
    width: 600px;
    height: 600px;
    margin: auto;
    border: 3px solid #666;
    border-radius: 50%;
    position: relative;

    img.mars-distance-planet {
      position: absolute;
      width: 30px;
      height: 30px;
      top: -15px;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }

  .earth-distance-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    height: 80%;
    border: 3px solid #666;
    border-radius: 50%;

    img.earth-distance-planet {
      position: absolute;
      width: 60px;
      height: 60px;
      top: -30px;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }

  img.sun-distance-planet {
    width: 230px;
    height: 230px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.distance__container.mercury__distance {
  .earth-distance-container {
    width: 600px;
    height: 600px;
    margin: auto;
    border: 3px solid #666;
    border-radius: 50%;
    position: relative;

    img.earth-distance-planet {
      position: absolute;
      width: 60px;
      height: 60px;
      top: -30px;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }

  .mercury-distance-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 55%;
    height: 55%;
    border: 3px solid #666;
    border-radius: 50%;

    img.mercury-distance-planet {
      position: absolute;
      width: 30px;
      height: 30px;
      top: -15px;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }

  img.sun-distance-planet {
    width: 230px;
    height: 230px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.distance__container.venus__distance {
  .earth-distance-container {
    width: 600px;
    height: 600px;
    margin: auto;
    border: 3px solid #666;
    border-radius: 50%;
    position: relative;

    img.earth-distance-planet {
      position: absolute;
      width: 60px;
      height: 60px;
      top: -30px;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }

  .venus-distance-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 75%;
    height: 75%;
    border: 3px solid #666;
    border-radius: 50%;

    img.venus-distance-planet {
      position: absolute;
      width: 55px;
      height: 55px;
      top: -27.5px;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }

  img.sun-distance-planet {
    width: 230px;
    height: 230px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.distance__container.jupiter__distance {
  .jupiter-distance-container {
    width: 600px;
    height: 600px;
    margin: auto;
    border: 3px solid #666;
    border-radius: 50%;
    position: relative;

    img.jupiter-distance-planet {
      position: absolute;
      width: 110px;
      height: 110px;
      top: -55px;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }

  .earth-distance-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
    height: 60%;
    border: 3px solid #666;
    border-radius: 50%;

    img.earth-distance-planet {
      position: absolute;
      width: 20px;
      height: 20px;
      top: -10px;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }

  img.sun-distance-planet {
    width: 230px;
    height: 230px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.distance__container.saturn__distance {
  .saturn-distance-container {
    width: 600px;
    height: 600px;
    margin: auto;
    border: 3px solid #666;
    border-radius: 50%;
    position: relative;

    img.saturn-distance-planet {
      position: absolute;
      width: 110px;
      height: 110px;
      top: -55px;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }

  .earth-distance-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
    height: 60%;
    border: 3px solid #666;
    border-radius: 50%;

    img.earth-distance-planet {
      position: absolute;
      width: 20px;
      height: 20px;
      top: -10px;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }

  img.sun-distance-planet {
    width: 230px;
    height: 230px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

// =======
// Speed
// =======

.speed {
  padding: 8rem 0;
  background: linear-gradient(to bottom, #000000 0%, #272769 100%);
}

.earth-speed {
  height: 200px;
  border-top: 1px solid #dcdcdc;
  position: relative;
  margin-top: 14rem;
}

.earth-speed-img {
  position: absolute;
  left: -200px;
  top: -100px;
  width: 200px;
  height: 200px;
}

.mars-speed {
  height: 200px;
  border-top: 1px solid #dcdcdc;
  position: relative;
  margin-top: 8rem;
}

.mars-speed-img {
  position: absolute;
  left: -100px;
  width: 100px;
  height: 100px;
  top: -50px;
}

.mercury-speed {
  height: 200px;
  border-top: 1px solid #dcdcdc;
  position: relative;
  margin-top: 8rem;
}

.mercury-speed-img {
  position: absolute;
  left: -100px;
  width: 100px;
  height: 100px;
  top: -50px;
}

.venus-speed {
  height: 190px;
  border-top: 1px solid #dcdcdc;
  position: relative;
  margin-top: 18rem;
}

.venus-speed-img {
  position: absolute;
  left: -190px;
  top: -95px;
  width: 190px;
  height: 190px;
}

.speed.speed-jupiter {
  .earth-speed {
    height: 50px;
    border-top: 1px solid #dcdcdc;
    position: relative;
    margin-top: 14rem;
  }

  .earth-speed-img {
    position: absolute;
    left: -50px;
    top: -25px;
    width: 50px;
    height: 50px;
  }

  .jupiter-speed {
    height: 190px;
    border-top: 1px solid #dcdcdc;
    position: relative;
    margin-top: 28rem;
  }

  .jupiter-speed-img {
    position: absolute;
    left: -190px;
    top: -95px;
    width: 190px;
    height: 190px;
  }
}

.speed.speed-saturn {
  .earth-speed {
    height: 50px;
    border-top: 1px solid #dcdcdc;
    position: relative;
    margin-top: 14rem;
  }

  .earth-speed-img {
    position: absolute;
    left: -50px;
    top: -25px;
    width: 50px;
    height: 50px;
  }

  .saturn-speed {
    height: 300px;
    border-top: 1px solid #dcdcdc;
    position: relative;
    margin-top: 28rem;
  }

  .saturn-speed-img {
    position: absolute;
    left: -300px;
    top: -150px;
    width: 300px;
    height: 300px;
  }
}

.earth-speed-title,
.mars-speed-title,
.mercury-speed-title,
.venus-speed-title,
.saturn-speed-title,
.jupiter-speed-title,
.uranus-speed-title {
  font-size: 1.6rem;
  margin-top: 1.3rem;
  position: relative;
  z-index: 300;
}

.venus-speed-title {
  margin-top: 0;
}

.earth-speed-title {
  top: 100px;
  background: $earth;
  color: #000;
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 5px;
}

.mars-speed-title,
.mercury-speed-title,
.venus-speed-title,
.jupiter-speed-title,
.saturn-speed-title {
  background: $mars;
  color: #000;
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 5px;
}

.venus-speed-title {
  top: -220px;
  background: $venus;
}

.mercury-speed-title {
  background: $moon;
}

.jupiter-speed-title {
  top: -180px;
  background: $jupiter;
}

.saturn-speed-title {
  top: -180px;
  background: $saturn;
}

// =======
// Gravity
// =======

.gravity {
  background: linear-gradient(to bottom, #272769 0%, #095569 100%);
  padding: 5rem 0 0;
}

.gravity-group {
  display: flex;
}

.earth-gravity {
  width: 50%;
  height: 200px;
  // background: $earth;
  margin-top: 23rem;
  border-radius: 100% 0px 0px 0px;
  background-image: url('../../../assets/images/earth.svg');
  background-size: 200%;
  background-position: center;
  position: relative;

  .ball {
    right: 40px;
    top: -40px;
    background: $earth;
  }
}

.mars-gravity {
  width: 50%;
  height: 200px;
  // background: $mars;
  margin-top: 23rem;
  border-radius: 0px 100% 0px 0px;
  background-image: url('../../../assets/images/mars.svg');
  background-size: 200%;
  background-position: center;
  position: relative;

  .ball {
    left: 40px;
    top: -40px;
    background: $mars;
  }
}

.mercury-gravity {
  width: 50%;
  height: 200px;
  // background: $mars;
  margin-top: 23rem;
  border-radius: 0px 100% 0px 0px;
  background-image: url('../../../assets/images/mercury.svg');
  background-size: 200%;
  background-position: center;
  position: relative;

  .ball {
    left: 40px;
    top: -40px;
    background: $moon;
  }
}

.venus-gravity {
  width: 50%;
  height: 200px;
  // background: $mars;
  margin-top: 23rem;
  border-radius: 0px 100% 0px 0px;
  background-image: url('../../../assets/images/venus.svg');
  background-size: 200%;
  background-position: center;
  position: relative;

  .ball {
    left: 40px;
    top: -40px;
    background: $venus;
  }
}

.jupiter-gravity {
  width: 50%;
  height: 200px;
  // background: $mars;
  margin-top: 23rem;
  border-radius: 0px 100% 0px 0px;
  background-image: url('../../../assets/images/jupiter.svg');
  background-size: 200%;
  background-position: center;
  position: relative;

  .ball {
    left: 40px;
    top: -40px;
    background: $jupiter;
  }
}

.saturn-gravity {
  width: 50%;
  height: 200px;
  // background: $mars;
  margin-top: 23rem;
  border-radius: 0px 100% 0px 0px;
  background-image: url('../../../assets/images/saturn.svg');
  background-size: 200%;
  background-position: center;
  position: relative;

  .ball {
    left: 40px;
    top: -40px;
    background: $saturn;
  }
}

.uranus-gravity {
  width: 50%;
  height: 200px;
  // background: $mars;
  margin-top: 23rem;
  border-radius: 0px 100% 0px 0px;
  background-image: url('../../../assets/images/uranus.svg');
  background-size: 200%;
  background-position: center;
  position: relative;

  .ball {
    left: 40px;
    top: -40px;
    background: $uranus;
  }
}

.ball {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
}